body{
    font-family: 'Ubuntu Mono', monospace;
    height: 100vh;
    background: linear-gradient(
        -135deg,
        #0048ce,
        #008bfd
    );
    color: aliceblue;
}

button{
    font-family: 'Ubuntu Mono', monospace;
    color: aliceblue;
}

input{
    font-family: 'Ubuntu Mono', monospace;
    font-size: medium;

}

/* Remove number arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.icon{
    background-color: transparent;
    border: none;
}

/* Generate password button*/
.container{
    width: 19%;
    min-width: 300px;
    background-color: #1c1e21;
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 8px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0);
}

/* Password text-box */
#yourPass{
    background-color: transparent;
    border: 2px solid aliceblue;
    border-radius: 3px;
    color: aliceblue;
    font-size: 20px;
}

/* Password length */
#yourNum{
    background-color: transparent;
    border: 2px solid aliceblue;
    border-radius: 3px;
    color: aliceblue;
    font-size: 20px;
}

/* Generate password button */
#yourSubmit{
    background-color: transparent;
    border: 2px solid aliceblue;
    border-radius: 3px;
    color: aliceblue;
    font-size: 28px;
}
