<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Password Generator</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel = "icon" href = "../static/1.png" type = "image/x-icon">
        <script src="https://kit.fontawesome.com/27c687061b.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">

        <script src="../static/index.js"></script>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div class="popup">
            <h4>Copied 📋</h4>
        </div>
        <div class="container">
        <h1>Password Generator</h1>
        <div class="copy-text">        
            <input type="text" id="yourPass" value="{{password}}" readonly>
            <button class="icon" onclick="copyFunction()">
                <i class="far fa-copy fa-lg"></i>
            </button>
        </div>

        <form action="/" method="POST">
            <label>Strength: <label style="color: {{color}};">{{strength}}</label></label>    
            <br>
            <br>

            <label style="font-size: large;">Password length: </label>
            <br>
            <input type="number" name="mynum" id="yourNum" value="{{num}}" required>
            <br>
            <br>
            <input type="checkbox" id="letters" name="mycheckbox" value="letters" {{checkl}}>
            <label for="letters">Letters</label><br>
            
            <input type="checkbox" id="punctuation" name="mycheckbox" value="punctuation" {{checks}}>
            <label for="punctuation">Punctuation</label><br>
            
            <input type="checkbox" id="number" name="mycheckbox" value="number" {{checkn}}>
            <label for="number">Numbers</label><br><br>

            <input type="submit" id="yourSubmit" value="Generate Password">
        </form>
        </div>
        <section class="footer">

            <h4>By <a href="https://github.com/zerothrohit">Rohit Wahwal</a>😄</h4>
        </section>

    </body>
</html>